on: [push]

jobs:
 build:
  runs-on: ubuntu-latest
  steps:
   - name: Checkout
     uses: actions/checkout@v4

   - name: Dependencies
     run: npm install -g pnpm && pnpm install

   - name: Lint
     run: pnpm lint
